aiocoap==0.4.1
dacite==1.6.0
cbor2==5.4.0
LinkHeader==0.4.3
# edhoc relates requirements
cryptography>=1.7.2
# specifiy hash while https://github.com/openwsn-berkeley/py-edhoc/pull/27 is not in
git+https://github.com/openwsn-berkeley/py-edhoc.git@0ffc0e4ceeb5ee23a956a7e7d87df4292a3a4ac3#egg=edhoc
Jinja2==3.0.1
termcolor==1.1.0
pygments==2.10.0
influxdb-client==1.21.0
requests==2.26.0
